html {
	font-family: sans-serif;
}

body {
	font-weight: lighter;
	font-size: smaller;
	margin-top: 1.5em;
}
.weather-details, .current-details {
	border-top:1px solid #ccc;
}

.weather-period.current-period {
	display: block;
}
.weather-summary, .current-summary {
	list-style: none;
	position: relative;
	margin:5px;
}

.weather-high, .current-temp {
	position: absolute;
	top:0;
	right:0;
}

.weather-low {
	position: absolute;
	bottom:0;
	right:0;
	color: #737373;
}

.weather-short, .current-short {
	white-space: nowrap;
	color: #737373;
	width: calc(320px - 65px);
	overflow: hidden;
	display: block;
	font-size: smaller;
}

.weather-precip {
	position: absolute;
	right:60px;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	font-size:smaller;
	color:cyan;
}

.weather-icon, .current-icon {
	position: absolute;
	font-size:2em;
	top:-2px;
	right:25px;
}

.weather-summary::-webkit-details-marker, .current-summary::-webkit-details-marker {
  display: none;
}

.weather-detailed {
	margin:5px;
}

.nav {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background-color: black;
	height:1em;
	text-align: center;
}

.nav a {
	color:white;
	text-decoration: none;
}

.current-period {
	font-size:2em;
}

.current-icon {
	font-size:4em;
	right:0;
	top:-10px;
}

.current-temp {
	font-size:4em;
}

.current-aside {
	position: absolute;
	top: 0;
	right: 0;
}

#config {
	background-color: white;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	display: none;
}

.section-summary {
	font-size:1.5em;
}

#config:target {
	display:block;
}

.weather-hour {
	display: inline-block;
	text-align: center;
	margin-right: 1vw;
}

.weather-hourly {
	overflow-x: scroll;
	white-space: nowrap;
}

.weather-hour-time {
	font-size: smaller;
	color: #737373;
}

.weather-hour-icon {
	font-size: x-large;
}

.weathermaps-wrap {
	overflow-x: scroll;
}

.weathermaps-inner {
	white-space: nowrap;
}

#weathermaps-nav button, #graphicalforecast-day button, #graphicalforecast-hour button {
	border:1px solid black;
	margin: 0.25rem;
	padding: 0.25rem 0.5rem;
}

@media only screen and (min-width:70em) { 
	body {
		width:320px;
		margin: 5vw auto;
	}
}
